h1 {
    text-align: center;
    color: white;
  }
  .cont1 {
    background-color:rebeccapurple;
    height: 200px;
    padding-top: 25px;
    margin-top: 20px;
    display:block;
  }
  h3 {
    text-align: center;
    color: white;
  }
  .col-md-2 {
    background-color: #c1c1c1;
  }
  .col-md-8{
      height:100%;
  }
  .loginbox{
      height:650px;
      
  }
  form{
      border: 1px solid grey;
      border-radius: 10px;
      padding:10px;
  }